.wrap { 
    max-width: 1200px; 
    margin: 50px auto; 
    padding: 30px; 
    text-align: center; 
    box-shadow: 0 0 5px rgba(0,0,0,.5); 
}
article { text-align: left; padding: 40px; }
.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
.container a {
     float: left;
     font-size: 16px;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
.dropdown {
      float: left;
      overflow: hidden;
}
.dropdown .dropbtn {
      cursor: pointer;
      font-size: 16px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
}
.container a:hover, .dropdown:hover .dropbtn {
      background-color: red;
}
.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}
.dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
}
.dropdown-content a:hover {
      background-color: #ddd;
}
.show {
      display: block;
}
.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;   /* Enable scroll if needed */
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.modal-body {padding: 2px 16px;}
.modal-footer {
    padding: -1px 16px;
    background-color: #5cb85c;
    color: white;
}
.fieldset {
    width: 50%;
    border: 2px solid #ff0000;
}
.legend {
    font-weight: bold;
    font-size: 125%;
}
.label {
    width: 125px;
    float: left;
    text-align: left;
    font-weight: bold;
}
.input {
    border: 1px solid #000;
    padding: 3px;
}
.button {
    margin-top: 12px;
}
.flex-container{
    display: block !important;
    text-align: center;
}
.flex-dialog{ 
    overflow-y: initial !important;
    margin: left;
    min-width: 200%;
    width: 100%;

}
.flex-body{
    height: 250px;
    overflow-y: auto;
}
.flex-item {
    background-color: cornflowerblue;
    width: 140px;
    height: 100px;
    margin: auto;
    text-align:center
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
